In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [22]:
df = pd.read_csv('Toronto.csv')

In [7]:
df.head()

,fullname,id,likes,replies,retweets,text,timestamp,user
0,Cpl Ryan W. Voll ret,842547573420425216,0,0,0,#MentalHealth #Anxiety #Depression #MyLife #Tr...,2017-03-17T01:26:09,CplRyanWVollRet
1,Sayu Healthy Living,844377415820464128,2,1,0,What's eating you? #stress #depression #anxi...,2017-03-22T02:37:18,SAYU2Health
2,Justin Roopnarine,846179479731027972,0,0,1,#Depression can happen to anybody. #LetsTalk: ...,2017-03-27T01:58:03,jroopnarine
3,Deborah Peniuk,850389644592238592,1,0,0,Today is #WorldHealthDay! #Repost from who #DY...,2017-04-07T16:47:45,TraveliciousDee
4,Jules,855237562566193152,0,0,0,#camh #anxiety #depression #change @ CAMH - Ce...,2017-04-21T01:51:39,obsessivejules

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
fullname     13 non-null object
id           13 non-null int64
likes        13 non-null int64
replies      13 non-null int64
retweets     13 non-null int64
text         13 non-null object
timestamp    13 non-null object
user         13 non-null object
dtypes: int64(4), object(4)
memory usage: 912.0+ bytes

In [23]:
df2['text'] = df['text'].str.split(' ', expand=True).stack().value_counts()

In [26]:
df2.head()

#depression    9
@              5
#Depression    4
               3
#anxiety       3
dtype: object

In [27]:
sns.countplot(y='text',data=df2)

TypeError: Must pass values for either `x` or `y`